span.highlighted {
  margin-left:1px;
  margin-right:1px;
}

span.full-match {
  background-color: #8888ff;
}

span.partial-match {
  background-color: #bb88ff;
}

span.highlighted:hover {
  filter: contrast(70%) brightness(130%);
}
