span.highlighted {
  margin-left:1px;
  margin-right:1px;
}

span.full-match {
  background-color: red;
}

span.partial-match {
  background-color: orange;
}

span.highlighted:hover {
  filter: contrast(50%) brightness(150%);
}
